/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  text-align: center;
  background: gainsboro;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.alterra-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 202;
}

.dashed {
  background: darkgrey;
}

.alterra-navigation {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
}

.alterra-navigation-list-item {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 3px;
  background: transparent;
  height: 34px;
  line-height: 34px;
}

.alterra-navigation-list-item:hover {
  background: #0093e9;
}

.alterra-navigation-list-item.active,
.alterra-navigation-list-item:first-of-type {
  background: #0093e9;
}

.alterra-navigation-list-item>a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
}

.alterra-logo {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 300px;
}

.slick-slide-heading {
  position: absolute;
  font-size: 74px;
  line-height: 76px;
  letter-spacing: 0px;
  margin-bottom: 22px;
  height: auto;
  top: calc(50% - 30px);
  width: 64vw;
  text-align: center;
  z-index: 200;
  color: white;
  padding: 0 18vw;
}

.slick-slide-description {
  position: absolute;
  top: calc(50% + 150px);
  width: 64vw;
  text-align: center;
  z-index: 200;
  color: white;
  font-size: 24pt;
  line-height: 36pt;
  padding: 0 18vw;
}

.slick-slide-image {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  z-index: 201;
  background-color: rgba(255,255,255,.35);
  height: 70px;
  width: 70px;
  line-height: 70px;
  color: #fff;
  top: calc(50% - 35px);
}

.slick-arrow.slick-next {
   right: 0;

}

.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-next:before,
.slick-arrow.slick-prev:before {
  content: '\003C';
  font-family: unset;
  font-size: 35px;
  position: absolute;
  top: calc(50% - 17.5px);
  left: calc(50% - 17.5px);
}

.slick-arrow.slick-next:before {
  content: '\003E';
  left: calc(50% - 2.5px);
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  font-size: 14px;
  padding-top: 1.5px;
  color: white;
}

.slick-dots li button {
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  border: 2px solid white;
}

.about-block {
  padding-bottom: 25px;
}

.about-section-grid {
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
}

.about-section-item {
  margin: 0 15px;
  flex: 1;
}

.about-section-item>svg {
  font-size: 32px;
  color: white;
  padding: 29px;
  border-radius: 50%;
  background: #0093E9;
  transition: background 0.5s;
  margin-bottom: 25px;
}

.about-section-item:nth-child(2)>svg {
  padding: 29px 27px;
}

.about-section-item:nth-child(3)>svg {
  padding: 29px 33px;
}

.about-section-item:nth-child(4)>svg {
  padding: 29px 25px;
}

.about-section-item>svg:hover {
  background: #7A868C;
}

.about-heading {
  font-size: 34px;
  line-height: 1.284em;
  margin: 35px auto 25px;
}

.about-description {
  font-size: 18px;
  line-height: 1.508em;
  color: #797979;
  margin-bottom: 35px;
}

.about-section-item__heading {
  font-size: 19px;
  line-height: 1.4em;
  margin-bottom: 15px;
}

.about-section-item__desc {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
}

#root > div > div:nth-child(3) {
  margin-bottom: 35px;
}

.alterra-meters-block {
  height: 40vh;
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" data-icon="linode" role="img" viewBox="0 0 448 512" width="60">\
  <style>@keyframes snowing {from {transform:rotate(-15deg); opacity: 0.6;} to {transform: rotate(15deg); opacity: 0.3;}}</style>\
  <path style="animation-duration: 6s; animation-name: snowing; animation-iteration-count: infinite;  animation-direction: alternate;" fill="currentColor" d="M437.4 226.3c-.3-.9-.9-1.4-1.4-2l-70-38.6c-.9-.6-2-.6-3.1 0l-58.9 36c-.9.6-1.4 1.7-1.4 2.6l-.9 31.4-24-16c-.9-.6-2.3-.6-3.1 0L240 260.9l-1.4-35.1c0-.9-.6-2-1.4-2.3l-36-24.3 33.7-17.4c1.1-.6 1.7-1.7 1.7-2.9l-5.7-132.3c0-.9-.9-2-1.7-2.6L138.6.3c-.9-.3-1.7-.3-2.3-.3L12.6 38.6c-1.4.6-2.3 2-2 3.7L38 175.4c.9 3.4 34 27.4 38.6 30.9l-26.9 12.9c-1.4.9-2 2.3-1.7 3.4l20.6 100.3c.6 2.9 23.7 23.1 27.1 26.3l-17.4 10.6c-.9.6-1.7 2-1.4 3.1 1.4 7.1 15.4 77.7 16.9 79.1l65.1 69.1c.6.6 1.4.6 2.3.9.6 0 1.1-.3 1.7-.6l83.7-66.9c.9-.6 1.1-1.4 1.1-2.3l-2-46 28 23.7c1.1.9 2.9.9 4 0l66.9-53.4c.9-.6 1.1-1.4 1.1-2.3l2.3-33.4 20.3 14c1.1.9 2.6.9 3.7 0l54.6-43.7c.6-.3 1.1-1.1 1.1-2 .9-6.5 10.3-70.8 9.7-72.8zm-204.8 4.8l4 92.6-90.6 61.2-14-96.6 100.6-57.2zm-7.7-180l5.4 126-106.6 55.4L104 97.7l120.9-46.6zM44 173.1L18 48l79.7 49.4 19.4 132.9L44 173.1zm30.6 147.8L55.7 230l70 58.3 13.7 93.4-64.8-60.8zm24.3 117.7l-13.7-67.1 61.7 60.9 9.7 67.4-57.7-61.2zm64.5 64.5l-10.6-70.9 85.7-61.4 3.1 70-78.2 62.3zm82-115.1c0-3.4.9-22.9-2-25.1l-24.3-20 22.3-14.9c2.3-1.7 1.1-5.7 1.1-8l29.4 22.6.6 68.3-27.1-22.9zm94.3-25.4l-60.9 48.6-.6-68.6 65.7-46.9-4.2 66.9zm27.7-25.7l-19.1-13.4 2-34c.3-.9-.3-2-1.1-2.6L308 259.7l.6-30 64.6 40.6-5.8 66.6zm54.6-39.8l-48.3 38.3 5.7-65.1 51.1-36.6-8.5 63.4z"/>\
  </svg>');
}

.ultrawrapper {
  background: rgba(255, 255, 255, 0.65);
  height: 100%;
  display: flex;
  align-items: center;
}

.meters-heading {
  flex-basis: 35%;
  font-size: 34px;
  line-height: 1.284em;
}

.meters-wrapper {
  flex-basis: 65%;
}

.meters-wrapper>* {
  display:block;
  margin: 0 auto;
}

.meters-wrapper>label {
  margin-bottom: 15px;
}

.meters-wrapper>progress {
  width: 70%;
  margin-bottom: 25px;
  height: 22px;
}

.meters-wrapper>progress:after {
  content: attr(value);
  font-size: 14px;
  line-height: 22px;
}

.technologies-block {
  padding: 50px 0;
}

.technologies-block-heading {
  font-size: 34px;
  line-height: 1.284em;
  margin-bottom: 25px;
}

.techno-items-global-wrapper {
  display: flex;
  padding: 0 50px;
  justify-content: space-around;
}

.technoly-item-wrapper {
  flex-basis: 25%;
  margin: 0 12.5px;
}

.technoly-item-heading {
  font-size: 19px;
  line-height: 1.4em;
  margin-top: 35px;
  margin-bottom: 25px;
  transition: color 0.5s ease-in-out;
}

.technoly-item-description {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  color: #6e767a;
}

.techlogogy-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  width: 200px;
  height: 200px;
  border: 3px solid #e1e1e1;
  transition: border 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 auto;
  color: white;
}

.techlogogy-icon-wrapper>svg {
  padding: 25px;
  background: #797979;
  transition: background 0.5s ease-in-out;
  border-radius: 50%;
}

.technoly-item-wrapper:nth-child(2) svg {
  padding: 28px 25px;
}

.techlogogy-icon-wrapper:hover+.technoly-item-heading {
  color: #0093e9;
}

.techlogogy-icon-wrapper:hover {
  border-color: #0093e9;
}

.techlogogy-icon-wrapper:hover>svg {
  background:#0093e9;
}

.portfolio-items-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.portfolio-item {
  flex-basis: 25%;
  position: relative;
  text-decoration: none;
}

.portfolio-item:visited, .blog-block-link_with_img:visited,
.blog-block-item_category-link:visited {
  color: black;
}

.portfolio-item>img {
  max-width: 100%;
  height: auto;
}

.portfolio-heading {
  font-size: 34px;
  line-height: 1.284em;
  margin: 35px auto 25px;
}

.portfolio-description {
  font-size: 18px;
  line-height: 1.508em;
  font-weight: 500;
  margin-bottom: 25px;
}

.portfolio-item-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.portfolio-item:hover>.portfolio-item-text {
  opacity: 1;
  transition: opacity 2s;
}

.standing-out_tag {
  display: inline-block;
  background-color: #77c1ed;
  border-radius: 4px;
  color: white;
  padding: 5px 12.5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.portfolio-item-heading {
  line-height: 1.3em;
  color: #222;
  font-size: 22px;
  font-weight: 700;
}

.portfolio-item-category {
  color: #0093e9;
  font-size: 15px;
  line-height: 17px;
  margin: 15px auto;
}

.blog-block-link_with_img>img {
  max-width: 100%;
  height: auto;
}

.blog-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.blog-block-heading {
  flex-basis: 100%;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 1.284em;
}

.blog-block-item {
  flex-basis: 30%;
  margin: 0 15px 15px;
}

.blog-block-item-description {
  height: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 15px 0;
}

.blog-block-link_with_img,
.blog-block-item_category-link {
  text-decoration: none;
}

.blog-block-item_heading {
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4em;
}

.blog-block-item_heading:hover {
  color: #0093e9;
}

.blog-block-item-category {
  color: #0093e9;
}

.blog-block-item-category>svg {
  margin-right: 15px;
}

.blog-block-item-description {
  color: #6e767a;
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
}

.contact-form-block {
  padding: 0 100px;
}

.full-form-element {
  width: 50%;
}

.full-form-element label {
  display: block;
  padding: 10px 25px;
  position: relative;
}

.full-form-element label:before {
  content: '';
  position: absolute;
  width: 20px;
  left: 0px;
  top: 10px;
  height: 20px;
  background: #0093E9;
}

.contact-form-block_heading {
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 700;
  margin-bottom: 25px;
  flex-basis: 100%;
}

.full-form-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-example {
  flex-basis: 50%;
}

.form-example-2 {
  flex-basis: 100%;
}

.form-example, .form-example-2 {
  text-align: left;
}

.form-example>input, .form-example-2>input, .form-example-2>textarea {
  width: 100%; 
}

.form-example:first-of-type>input {
  width: calc(100% - 25px);
  margin-right: 25px;
}